---
const pageTitle = "Blogs";
import "../styles/global_about.css";
import Header1 from "../components/Header1.astro";
import Footer1 from "../components/Footer1.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <body>
      <Header1 />
      <h1>我的{pageTitle}网站</h1>
      <p>在这里，我将分享我的魔法王国之旅。</p>
      <!-- <ul>
            <li><a href="/posts/post-1/">文章 1</a></li>
            <li><a href="/posts/post-2/">文章 2</a></li>
            <li><a href="/posts/post-3/">文章 3</a></li>
        </ul> -->
      <ul>
        {
          Array.from({ length: 3 }, (_, index) => (
            <li>
              <a href={`/posts/post-${index + 1}/`}>文章 {index + 1}</a>
            </li>
          ))
        }
      </ul>
      <ul>
        {
          Array.from({ length: 8 }, (_, index) => (
            <li key={index}>
              <a href={`/posts/post-${index + 1}/`}>文章 {index + 1}</a>
            </li>
          ))
        }
      </ul>
      <Footer1 />
      <script>
        import "../scripts/menu.js";
      </script>
    </body>
  </body>
</html>
