---
const pageTitle = "Foo Page";
import Navigation from "../components/Navigation.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <Navigation/>
        <h1>{pageTitle}</h1>
        <h2>……和我的新 Astro 网站！</h2>
        <ul>
            {
                Array(3)
                    .fill(1)
                    // .map((_, i) => { return (<li>
                    //         <a href={`/post/post-${i + 1}`}>post-{i + 1}</a>
                    //     </li>)
                    // })
                    .map((_, i) =>  (<li>
                            <a href={`/post/post-${i + 1}`}>post-{i + 1}</a>
                        </li>)
                    )
            }
        </ul>
    </body>
</html>
